@forward 'element-plus/theme-chalk/src/common/var' with (
  $colors: (
    'primary': (
      'base': #00bd7e
    )
  ),
  $input-font-size: (
    'small': 13px
  ),
  $common-component-size: (
    'small': 30px
  )
);
