@forward 'element-plus/theme-chalk/src/common/var' with (
  $colors: (
    'primary': (
      'base': #4BA493,
    ),
  ),
  $common-component-size: (
    'small': 30px
  ),
  $input-font-size: (
    'small': 13px
  ),
  $input-height: (
    'small': 30px
  ),
  $input-line-height: (
   'small': 30px
  ),
  $button-font-size: (
   'small': 13px
  ),
  $form: (
    'item-line-height': 30px
  )
);
